<link rel="stylesheet" href="../styles/home.css">
<div class="home-cont">
  <div class="page-caption margin-bottom-10">
    <span class="margin-left-10">欢迎{{currentUser.name}}使用诸翟使觉银行系统</span>
  </div>
  <div class="container-fluid margin-10 margin-right-0">
    <div class="row margin-bottom-10">
      <div class="col-md-6 padding-0 padding-right-10">
        <div class="black-bg block padding-10">
          <div class="block-title">银行工作人员统计</div>
          <div id="officers-chart" style="width: 100%;height:250px;"></div>
        </div>
      </div>
      <div class="col-md-6 padding-0 padding-right-10">
        <div class="black-bg block padding-10">
          <div class="block-title">学生人数统计</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 padding-0 padding-right-10">
        <div class="black-bg block padding-10">
          <div class="block-title">使觉币趋势图</div>
        </div>
      </div>
      <div class="col-md-6 padding-0 padding-right-10">
        <div class="black-bg block padding-10">
          <div class="block-title">心愿统计</div>
        </div>
      </div>
    </div>
  </div>
</div>
