<link rel="stylesheet" href="../styles/home.css">
<div class="home-cont">
  <div class="home-welc margin-bottom-10">
    <span class="margin-left-10">欢迎王二使用诸翟使觉银行系统</span>
  </div>
  <div class="container-fluid margin-10 margin-right-0">
    <div class="row margin-bottom-10">
      <div class="col-md-6 padding-0 padding-right-10">
        <div class="block"></div>
      </div>
      <div class="col-md-6 padding-0 padding-right-10">
        <div class="block"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 padding-0 padding-right-10">
        <div class="block"></div>
      </div>
      <div class="col-md-6 padding-0 padding-right-10">
        <div class="block"></div>
      </div>
    </div>
  </div>
</div>
