<link rel="stylesheet" href="../styles/indexEvaluate.css">
<div class="standard-cont">
  <!-- 头部 -->
  <div class="page-caption margin-bottom-10">
    <span class="margin-left-10">指标评定</span>
  </div>
  <!-- 筛选部分 -->
  <form class="search-filter-wrapper">
    <div class="form-horizontal form-group grade-select-box">
      <div class="col-md-12">
        <label for="" class="col-md-4 control-label">选择年级</label>
        <div class="col-md-8">
          <select class="form-control" name="">
            <option value="" ng-repeat="item in grade">{{item}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-horizontal form-group class-select-box">
      <div class="col-md-12">
        <label for="" class="col-md-4 control-label">选择班级</label>
        <div class="col-md-8">
          <select class="form-control" name="">
            <option value="" ng-repeat="item in class">{{item}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-horizontal form-group date-select-box">
      <div class="col-md-12">
        <label for="" class="col-md-4 control-label">选择年月</label>
        <div class="input-group input-medium date date-picker" data-date-format="yyyy-mm-dd" data-date-viewmode="years">
          <input type="text" class="form-control" readonly>
          <span class="input-group-btn">
          <button class="btn default" type="button"><span class="glyphicon glyphicon-calendar"></span></button>
          </span>
        </div>
      </div>
    </div>
    <div class="form-group btn-box">
      <button class="btn btn-warning margin-right-10">查询</button>
      <button class="btn btn-default">导出</button>
    </div>
  </form>
  <div class="tableContainer">
    <p>标准考核</p>
    <div class="innerContainer">
      <table class="text-center table-part">
        <thead>
          <tr>
            <td>姓名</td>
            <td colspan="5">标准考核项</td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="i in evaluteItem">
            <td>{{i.name}}</td>
            <td>{{i.eVal1}}</td>
            <td>{{i.eVal2}}</td>
            <td>{{i.eVal3}}</td>
            <td>{{i.eVal4}}</td>
            <td>{{i.eVal5}}</td>
          </tr>
        </tbody>
      </table>
      <div class="remarks-part">
        <ul ng-repeat="i in evaluateRemarks">
          <li><span>{{$index + 1}}.</span>{{i}}</li>
        </ul>
        <button class="btn margin-left-35 btn-sm btn-default" type="button" name="button">维护</button>
      </div>
    </div>
  </div>
  <div class="tableContainer has-select">
    <p>特殊考核</p>
    <div class="form-group sel-in-tab">
      <select class="form-control sel" name="">
        <option value="" ng-repeat="item in studyStations">{{item}}</option>
      </select>
      <i data-toggle="modal" data-target="#basic" class="glyphicon glyphicon-plus icon cursor-pointer"></i>
    </div>
    <table class="text-center cover-tab margin-top-20">
      <thead>
        <tr>
          <td ng-repeat="i in specialEvaluates">{{i}}</td>
          <!-- <td colspan="5">标准考核项</td> -->
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="i in specialEvaluteVals">
          <td>{{$index + 1}}</td>
          <td>{{i.name}}</td>
          <td>{{i.date}}</td>
          <td>{{i.level}}</td>
          <td>{{i.reason}}</td>
          <td>{{i.coin}}</td>
          <td><i class="glyphicon glyphicon-pencil cursor-pointer"></i></td>
          <td><i class="glyphicon glyphicon-remove-sign cursor-pointer"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <div class="modal fade" id="basic" tabindex="-1" role="basic" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title">添加</h4>
          </div>
          <div class="modal-body">
            <fomr class="form-horizontal">
              <div class="form-group">
                <label for="" class="col-md-2 control-label">姓名</label>
                <div class="col-md-9">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-md-2 control-label">理由</label>
                <div class="col-md-9">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-md-2 control-label">等级</label>
                <div class="col-md-9">
                  <select class="form-control">

                  </select>
                </div>
              </div>
            </fomr>
          </div>
          <div class="modal-footer">
            <span class="text-danger pull-left margin-top-5">错误信息</span>
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
