<link rel="stylesheet" href="../styles/standardSetting.css">
<div class="standard-cont">
  <div class="page-caption margin-bottom-10">
    <span class="margin-left-10">标准设置</span>
  </div>
  <div class="container-fluid margin-10">
    <div class="form-horizontal form-group">
      <div class="col-md-4">
        <label for="" class="col-md-3 control-label">请选择存储站点</label>
        <div class="col-md-9">
          <select class="form-control" name="">
            <option value="">学习站1</option>
            <option value="">学习站2</option>
            <option value="">学习站3</option>
            <option value="">学习站4</option>
          </select>
        </div>
      </div>
    </div>
    <div class="black-bg clearfix margin-top-60">
      <div class="clearfix margin-bottom-20">
        <div class="col-md-6">
          <div class="operate-row text-right">
            <div>选中当前行：<span class="curr-level">{{'一等级'}}</span></div>
            <div class="operate-cont text-left">
              <ul class="list-unstyled">
                <li>增加</li>
                <li>删除</li>
                <li>修改</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix">
        <div class="col-md-6 table-responsive">
          <table class="table table-bordered text-center orange-border">
            <thead>
              <tr>
                <td>序号</td>
                <td>等级划分</td>
                <td>分数</td>
                <td>使觉币</td>
                <td>备注</td>
              </tr>
            </thead>
            <tbody class="orange-border">
              <tr>
                <td>1</td>
                <td>一等级</td>
                <td>10</td>
                <td>10</td>
                <td></td>
              </tr>
              <tr>
                <td>2</td>
                <td>二等级</td>
                <td>6</td>
                <td>6</td>
                <td></td>
              </tr>
              <tr>
                <td>3</td>
                <td>三等级</td>
                <td>2</td>
                <td>2</td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>
