.home-cont .home-welc {
  color: #FE9E1E;
  border-bottom: 1px solid #D1D1D1;
}
.home-cont .home-welc span{
  font: 300 16px/30px '微软雅黑';
}

.home-cont .block{
  height: 300px;
  background-color: #4D4D4D;
}
