.login-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(http://cxjcrm.sit.com/assets/img/bg.jpg) no-repeat center center;
  background-size: cover;
}

.login-container-bg {
  position: absolute;
  z-index: 0;
  top: 200px;
  left: 50%;
  background-color: #fff;
  opacity: .6;
  margin-left: -200px;
  height: 360px;
}

.login-container {
  position: absolute;
  z-index: 1;
  top: 200px;
  left: 50%;
  margin-left: -200px;
  font-family: '微软雅黑';
}

.login-title {
  color: #3678fe;
}
