.login-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url('../images/login-bg.png') no-repeat center center;
  background-size: cover;
}

.login-container-bg {
  position: absolute;
  z-index: 0;
  top: 150px;
  left: 50%;
  background-color: #fff;
  opacity: .8;
  margin-left: -200px;
  height: 360px;
}

.login-container {
  position: absolute;
  z-index: 1;
  top: 150px;
  left: 50%;
  margin-left: -200px;
  font-family: '微软雅黑';
}

.login-title {
  color: #FE9E1E;
  background-color: #4C4C4B;
  margin-bottom: 45px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 16px;
}

.login-title>div {
  width: 60%;
}

.regError {
  height: 14px;
}
